.env
processed-cluster.yaml
*.pem
commands.sh
commands.md

# Secrets
telegram-bot-secret.yaml

# vscode settings
.vscode/
# idea settings
.idea/

kafka-values.yaml
cloudfront-config.json
# AWS
eksctl.exe

*.properties
kafka-update-config